<div layout="column" layout-fill="layout-fill">
  <div layout="column" class="loginBox md-whiteframe-20dp">
    <md-toolbar class='md-hue-2'>
      <p class="md-toolbar-tools">SIGN UP</p>
    </md-toolbar>
    <form name="loginForm">
      <md-content layout="column" class="md-padding">
        <md-input-container id="name">
          <label>Name</label>
          <input name="name" ng-model="formData.name" required/>
          <div ng-messages="loginForm.name.$error" style="color:maroon" role="alert">
            <div ng-message="required">This field is required</div>
          </div>
        </md-input-container>
        <md-input-container id="email">
          <label>Email</label>
          <input name="email" type="email" ng-model="formData.email" required/>
          <div ng-messages="loginForm.email.$error" style="color:maroon" role="alert">
            <div ng-message="required">This field is required</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="formData.password"/>
        </md-input-container>
        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-primary" ng-click="signup()">Sign Up</md-button>
          <div flex="flex"></div>
        </div>
      </md-content>
      <h2 class="error-msg"ng-if="message">User already exist!</h2>
    </form>
  </div>
</div>
